/* Play with margins */
.auto-side-margins {
    margin: 0 auto;
}

.big-margins {
    margin: 300px;
}

/* Play with positioning */
/* What happens if you nest different position types
   inside of each other? eg. an absolute inside a relative 
   or an absolute inside a fixed
*/

.relative {
    position: relative;
}

.relative-bottom {
    position: relative;
    bottom: 20px;
}

.fixed-right {
    position: fixed;
    right: 0;
}

.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.absolute-right {
    position: absolute; 
    right: 500px;
}

.absolute-top {
    position: absolute; 
    right: 30px;
    top: 5px;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

/* Play with widths and heights */
/* How do they affect different position types? display types? */
.half-percentage-width {
    width: 50%;
}

.half-percentage-height {
    height: 50%;
}

.half-viewport-height {
    height: 50vh;
}

.half-viewport-width {
    width: 50vh;
}

.set-width-600 {
    width: 600px;
}

.set-height-600 {
    height: 600px;
}

/* Play with display */

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: center; /* horizontal spacing */
    align-items: flex-end;  /* vertical spacing */
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}




/*   Outlines */

header, main, footer {
    border: solid darkblue 1px;
}

h1, p, li {
    border: dotted green 1px;
}

nav, ul, aside, article {
    border: dashed red 1px;
}